* {
  font-family: sans-serif;
}

body {
  background: url("https://source.unsplash.com/1600x900/?clock") no-repeat fixed
    center center/cover;
  /* background-color: khaki; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  background-color: darkolivegreen;
  padding: 1rem;
}

#container {
  width: 400px;
  height: 400px;
  background-color: rgb(203, 206, 62);
  margin: 0 auto;
  border-radius: 10px;
  padding: 1rem;
}

div {
  margin: 1rem;
}
button {
  margin: 1rem;
  background-color: darkolivegreen;
  color: white;
  border-radius: 5px;
}
p {
  margin: 1 rem;
}
